*{
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

.resize_container {
    width: 800px;
}


.cells {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: calc(100% / 10);
    border: 1px solid black;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}